

html, body {
  font-family: $font-primary;
  font-size: 12px;
  line-height: 160%;
  color: $neoBlack;
}

// h1 {
//   font-size: 2.2rem;
//   margin-bottom: .4rem;
//   padding-top: 10px;
// }
a {
  font-family: $font-secondary;  
  text-decoration: none;
  color: $flatBlue;
  &:hover {
    color: $hoverBlue;
  }
}

p {
color: $coal;
}