//Susy setup ----------------------------------------|
$total-columns        : 12;
$column-width         : 4em;
$gutter-width         : 0.5em;
$grid-padding         : $gutter-width;


// Responsive Setup ---------------------------------|
$mobile               : 30em;
$tablet               : 47em;
$large                : 58em;
$extra-large          : 68em;

@include border-box-sizing;

.wrapper { 
  @include container;
  height: 1000px;
  width: 100%;
  margin: 0 auto;
  text-align: center;  
  padding: 0;  
  left: 0;
  right: 0;  
}

/*=========================== @DOM ============================*/


//------------ @Header -------------------|
header { 
    @include span-columns(12 omega,12); 
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;  
}

//------------ @Events --------------------| 
#events { 
    @include span-columns(8,12); 
    height: auto;

}

//------------ @Ads -----------------------| 
.ads-left { 
    @include span-columns(2,12); 
    height: 500px;
    background: $flatBlue;   
}
.ads-right { 
    @include span-columns(2 omega,12); 
    height: 500px;    
    background: $flatBlue;
}















