//Susy setup ----------------------------------------|
$total-columns        : 12;
$column-width         : 4em;
$gutter-width         : 0.5em;
$grid-padding         : $gutter-width;


// Responsive Setup ---------------------------------|
$mobile               : 30em;
$tablet               : 47em;
$large                : 58em;
$extra-large          : 68em;

@include border-box-sizing;

.wrapper { 
  @include container;
  height: 1000px;
  width: 100%;
  margin: 0 auto;
  text-align: center;  
  padding: 0;  
  left: 0;
  right: 0;  
}

header, article, section, nav {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.banner, .main-nav  {
  width: 100%;
  margin: 0 auto;
  text-align: center;  
  padding: 0;  
  left: 0;
  right: 0;
}
.banner img {
  width: 90%;
}
/*=========================== @Header ============================*/
header { 
  @include span-columns(12 omega,12); 
  margin: 0 auto;
  text-align: center;
  left: 0;
  right: 0;  
}

/*=========================== @Content ============================*/
section { 
    @include span-columns(8,12); 
    height: 500px;
    background: red;
}

.event {
    @include span-columns(12 emega,12);  
  height: 150px;
  padding: 5px 0;
      background: orange;
}

/*=========================== @Ads Asides ============================*/
.ads-left { 
    @include span-columns(2,12); 
    height: 500px;
    background: green;    
}
.ads-right { 
    @include span-columns(2 omega,12); 
    height: 500px;    
    background: blue;
}




/*=========================== @Debugging ============================*/

// header, section, nav, .wrapper, .ads-left, .ads-right, .event {
//     @include susy-grid-background; 
// }













